

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color:#FFFFFF ;
    letter-spacing: 0.02em;

}



.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
    text-decoration: none;
}

.head-logo {
    color: #2E2F42;
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.no-point {
    list-style: none;
}

.nav-anchor {
    font-weight: 500;
    text-decoration: none; 
    color: #2E2F42;
}

.nav-anchor:hover, .nav-anchor:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    color:  #434455;
    text-decoration: none;
}

.tel {
    text-transform: uppercase;
}

.address:hover, .address:focus {
    color:  #4D5AE5
}

.head {
    background-color: #2E2F42;
}

.first-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    
    letter-spacing: 0.02em;
    color:#FFFFFF
}

.order-button {
    font-family: inherit;
    background: var #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    
    color:#FFFFFF;
    cursor: pointer;
    line-height: 1.5;
}

.order-button:hover, .order-button:focus {
    background-color: #404bbf;
}

.third-header {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
   
}

.text {
    
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.second-header {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f4255;
}

.team {
    background-color: #F4F4FD;
}

.team-box {
    background: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
}

.foot-logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer-text {
    
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  #4D5AE5;
    background: #f4f4fd;
    cursor: pointer;
}

.portfolio-button:hover, .portfolio-button:focus {
    background-color:  #404bbf;
    color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
   
  
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}