body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    color: #434455;
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

/* ------header------ */

.header {
    background-color: #fff;
}

.header-logo {
    color: #2E2F42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo-blue {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.contacts {
    font-style: normal;
}

.header-nav-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-nav-link a:hover,
.header-nav-link a:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    color: #434455;
}

.contacts-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.contacts-link a:hover,
.contacts-link a:focus {
    color: #404bbf;
}

/* ----------- */

/* -------section1------ */

.main-paragraph-box {
    background-color: #2E2F42;
}

.main-paragraph {
    color: #FFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}

.first-button {
    background-color: #4D5AE5;
    color: #FFF;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.first-button:hover,
.first-button:focus {
    background-color: #404BBF;
}

/* ---------- */

/* ------section2------- */

.features-title-name {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.feature-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ---------- */

/* ------section3------- */

.our-team {
    background-color: #F4F4FD;
}

.team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-item {
    background-color: #FFF;
}

.team-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* --------- */

/* ------section4----- */

.portfolio {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.portfolio-title-name {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* --------- */

/* ------footer----- */

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-blue {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-description {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}